::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) #f1f1f1;
}
